block ogURL
  meta#ogURL(property='og:url', content=url)

meta(property='og:type', content=sns.og.type)
meta(property='og:title', content=sns.og.title)
meta(property='og:site_name', content=sns.og.title)
block ogDescription
  meta(property='og:description', content=sns.og.description)
for src in sns.og.image
  meta(property='og:image', content=src)
meta(property='og:locale', content=sns.og.locale)
meta(property='fb:app_id', content=sns.fb.app_id)

//-Twitter
meta(name='twitter:card', content=sns.twitter.card)
meta(name='twitter:domain', content=sns.twitter.domain)
meta(name="twitter:site", content=sns.twitter.site)

