- var imgDir = img
//- var pageImgDir = img
block variables
doctype html
<!--[if lt IE 9]>
<html lang="ja" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ja">
<!--<![endif]-->
block head
  head
    meta(charset='UTF-8')
    block redirect_script
      script
        //-include ../js/include/redirect.js

    block viewport
      meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")

    block title
      title= meta.title

    include inc/_meta_ogp
    include inc/_meta

    block redirect_script
      script
        include ../js/include/redirect.js

    block css
      link(rel='stylesheet', href='#{css}/index.css')

    block html5shiv
      | <!--[if lt IE 9]>
      |  <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js'></script>
      |  <script src="//api.html5media.info/1.1.8/html5media.min.js"></script>
      |  <script> var tmpf = function(){}; window.console = {log: tmpf, info: tmpf, error: tmpf, warn: tmpf}</script>
      | <![endif]-->

    block canonical
      link(rel="canonical", href=meta.url)

    link(rel='shortcut icon', href='/favicon.ico')

body(class=bodyClass)
  #fb-root
  #wrapper
    block header
      //-header.header
        .header__logo
        .header__sns
          include inc/_pc_social_btn
    article#mainContent
      //- ここに各コンテンツを入れる
      block content
         #renderer
    block footer
      footer.footer
        //include inc/_footer
        block footer_social
          //-.footer__sns
            include inc/_pc_social_btn

  include inc/_inc_scripts

  block libjs
    script(src='#{js}/lib/lib.js')
  block scripts
    script(src='#{js}/pc.js')

  include inc/_analytics
| </html>