- var imgDir = img + '/sp/'
- var pageImgDir = img
- var wrapperClass = ''

block variables

doctype  html
html(class="", lang="ja", xmlns:fb="https://www.facebook.com/2008/fbml")
  block head
    head
      meta(charset='UTF-8')
      block redirect_script
        script
          include ../js/include/redirect.js

      block viewport
        meta(name='viewport',content='width=640,user-scalable=no')

      block title
        title= meta.title

      include inc/_meta_ogp
      include inc/_meta

      block css
        link(rel='stylesheet', href='#{css}/sp.css')

      block canonical
        link(rel="canonical", href=meta.url)

      link(rel='shortcut icon', href='/favicon.ico')
      //- スマホ用App icon設定
      block app_icon
        include inc/_sp_app_icon

  body(class=bodyClass)
    block loading
      //-#loadingContainer
        .loading__overlay
        .loading__kurukuru
          img(src="#{img}/common/ajax-loader.gif")
    block wrapper
      #wrapper(class=wrapperClass)
        header.header
          include inc/_sp_social_btn
        article#mainContent.zoomfix
          block content
            | ここに各コンテンツを入れる
        block footer
          include inc/_footer
      block popup

      include inc/_inc_scripts

      block libjs
        script(src='#{js}/lib/lib_sp.js')
      block scripts
        script(src='#{js}/entries/sp.js')
    include inc/_analytics
