extends _pc_layout

block content
  #testImg
    img(src="#{img}/test_sp/unko_me.png", width="$", height="$")

  #renderer

//block libjs
//  script(src='#{js}/vendor.bundle.js')

block scripts
  script(src='#{js}/PC.main.js')
  script(src='#{js}/pages/BaseWorldTest.main.js')
  //script(src='#{js}/PC.main.js')
