extends _pc_layout
block redirect_script
block scripts
  script(src='#{js}/entries/test.js')

block content

  mixin spriteTest(num)
    .spriteTest2Container(class="test#{num}")
      .spriteTest2__1(class="spriteTest2__text#{num}")
      .spriteTest2__2(class="spriteTest2__text#{num}")
      .spriteTest2__3(class="spriteTest2__text#{num}")
      .spriteTest2__4(class="spriteTest2__text#{num}")
      .spriteTest2__5(class="spriteTest2__text#{num}")
      .spriteTest2__6(class="spriteTest2__text#{num}")
      .spriteTest2__7(class="spriteTest2__text#{num}")

  h1 test.html
  h1
    a(href='index.html') indexへ戻る

  section
    h1 sprite test2
    .spriteTest2
      .spriteTest2__title
    +spriteTest(1)
    +spriteTest(2)
    +spriteTest(3)
    +spriteTest(4)
    +spriteTest(5)
    +spriteTest(6)
    +spriteTest(7)
    +spriteTest(8)
    +spriteTest(9)

